<h1>Add A New Spell To Your Spellbook</h1>

<form action="/spells" method="post">
  Name:
  <input type="text" name="spell[name]">
  <br>
  <br>
  Description:
  <input type="text" name="spell[description]">
  <br />
  <br />
  <input type="submit" value="Make A Spell!">
</form>
